.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__container > .title {
  margin-bottom: 50px;
  margin-top: 100px;
}

.form-control {
  width: 30vw;
}

.form-floating {
  margin-bottom: 15px;
}

.form-floating > label {
  font-size: 20px;
}

.btn__container {
  margin-top: 20px;
  width: 20vw;
  display: flex;
  flex-direction: column;
}

.signup__btn {
  margin: auto;
  margin-top: 10px;
  width: 10vw;
  background-color: white;
  border: none;
  color: black;
  opacity: 0.5;
}

.signup__btn:hover {
  animation: signup 0.2s linear forwards;
  background-color: white;
  color: black;
}
@keyframes signup {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
