.header_wrap {
    width: 100%;
}

.header_wrap > .text {
    color: #fff;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 400px;
    text-align: center;
}

.header_wrap > .text > h1 {
    font-size: 4em;
}

.header_wrap > .text > span {
    margin-top: 20px;
}

.frame_wrap {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    margin-top: -400px;
}

.frame_wrap > iframe {
    width: 300%;
    height: 300%;
    position: absolute;
    z-index: 0;
}

.frame_wrap:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    position: relative;
    z-index: 1;
}

nav {
    width: 100%;
    height: 40px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    font-size: 16px;
}

nav.fixed {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
}

nav .logo {
    font-weight: bold;
}

nav a span {
    position: relative;
    display: block;
    padding: 12px 0;
}

nav a:hover span:before, .selected > span:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #c00;
    width: 100%;
    height: 3px;
}

.nav_wrap {
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.nav_wrap > a, .nav_wrap > ul.right li a {
    padding: 0px 10px;
    position: relative;
    display: block;
}

nav .right {
    position: absolute;
    right: 0;
    top: 0;
}
nav .hide{
    display:none;
}

.nav_wrap > a {
    display: inline-block;
}

nav ul, nav li {
    display: inline-block;
}

@media (max-width:340px){
    nav{
        font-size:12px;
    }
    nav a span{
        padding: 14px 0;
    }
    .nav_wrap > a, .nav_wrap > ul.right li a{
        padding: 0 8px;
    }
}