<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--JS-->
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--부트스트랩-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="/static/js/token.js" defet></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="/static/js/logout.js"></script>

    <!--웹폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!--CSS-->
    <!--웹폰트(roboto)-->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <!--부트스트랩-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!--reset-->
    <link
      rel="stylesheet"
      href="https://meyerweb.com/eric/tools/css/reset/reset200802.css"
    />
    <!--common(공통,contents)-->
    <link rel="stylesheet" href="/static/css/common.css" />
    <!--navigation-->
    <link rel="stylesheet" href="/static/css/nav.css" />

    <title>Too Shorts | {{ title }}</title>

    <script>
      function postDelete(id) {
          {#삭제기능#}
            $.ajax({
                type: 'POST',
                url: '/mypage/del',
                data: {id_give:id},
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            })
      }
    </script>
  </head>

  <body>
    <div class="wrap">
      <!--헤더-->
      <header>
        <nav>
          <!--index페이지 외에서는 nav에 fixed클래스 추가-->
          <div class="nav_wrap">
            <a class="logo" href="/" alt="logo"><span>Too Shorts</span></a>
            <ul class="right">
              <!--로그아웃/로그인 전일 경우 logout클래스를 show, login을 hide-->
              <li class="logout{% if state == 'login' %} hide{% endif %}">
                <a href="/login"><span>로그인</span></a>
              </li>
              <!--로그인한 경우 login클래스는 show, logout클래스를 hide-->
              <ul class="login{% if state == 'logout' %} hide{% endif %}">
                <li>
                  <a href="/" onclick="logout()"><span>로그아웃</span></a>
                </li>
                <li>
                  <a href="/posting"><span>포스팅</span></a>
                </li>
                <li>
                  <a class="selected" href="/mypage" title="마이페이지"><span class="mypage"><p>{{ nickname }}</p>님</span></a>
                </li>
              </ul>
            </ul>
          </div>
        </nav>
      </header>
      <div class="contents_wrap">
        <!--//contents 안에 내용을 수정하시면 됩니다.-->
        <h4 class="title"><b>마이 페이지</b> > 내가 작성한 포스팅</h4>
        <div class="row row-cols-1 row-cols-md-2 g-4 card_wrap">
          {% for post in posts %} {% if post['username'] == nickname %} {% set
          urlSplit = post['URL'].split('/')[-1] %} {% set thumb =
          urlSplit.split('?')[0] %}
          <div class="col">
            <div class="card">
              <button type="button" class="btn btn-primary" onclick="window.location.href='포스팅 수정 사이트 링크'">
                수정
              </button>
              <button type="button" class="btn btn-danger" onclick="postDelete({{ post.posting_number }})">
                삭제
              </button>
              <a href="video/{{ thumb }}" alt="유튜브 쇼츠 바로가기" target="_self">
                <div class="testImg">
                  <img src="https://i1.ytimg.com/vi/{{ thumb }}/hqdefault.jpg" class="card-img-top" alt="img"/>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ post.title }}</h5>
                  <p id="nick" class="username">{{ post.username }}</p>
                  <p id="desc" class="card-text">{{ post.description }}</p>
                </div>
              </a>
            </div>
          </div>
          {% endif %} {% endfor %}
        </div>
        <!--//card_wrap 나머지 페이지에선 이부분 삭제-->
      </div>
      <!--//contents-->
    </div>
    <!--//wrap-->
  </body>
</html>
