<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Bulma CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <!--JS-->
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--부트스트랩-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <!--navgation scroll event //index에서만 넣고 나머지 페이지에서는 삭제-->
    <script src="/static/js/scroll.js"></script>
    <script src="/static/js/token.js" defet></script>

    <!--웹폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!--부트스트랩-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!--reset-->
    <link
      rel="stylesheet"
      href="https://meyerweb.com/eric/tools/css/reset/reset200802.css"
    />
    <!--CSS-->
    <!--웹폰트(roboto)-->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/loginform.css" />
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/css/nav.css" />
    <script src="/static/js/token.js" defer></script>
    <script src="/static/js/signupform.js" defer></script>
  </head>
  <body>
    <header>
      <nav class="fixed">
        <!--index페이지 외에서는 nav에 fixed클래스 추가-->
        <div class="nav_wrap">
          <a class="logo" href="/" alt="logo"><span>Too Shorts</span></a>
          <ul class="right">
            <!--로그아웃/로그인 전일 경우 logout클래스를 show, login을 hide-->
            <li class="logout{% if state == 'login' %} hide{% endif %}">
              <a href="/login"><span>로그인</span></a>
            </li>
            <!--로그인한 경우 login클래스는 show, logout클래스를 hide-->
            <ul class="login{% if state == 'logout' %} hide{% endif %}">
              <li>
                <a href="/logout" onclick="logout()"><span>로그아웃</span></a>
              </li>
              <li>
                <a href="/posting"><span>포스팅</span></a>
              </li>
              <li>
                <a href="/mypage"
                  ><span>{{ nickname }}님의 마이페이지</span></a
                >
              </li>
            </ul>
          </ul>
        </div>
      </nav>
    </header>
    <div class="section has-text-centered login__container">
      <h1 class="title">회원가입</h1>
      <div class="container" style="width: 60%">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control userid"
            id="floatingInput"
            placeholder="ID"
          />
          <label for="floatingInput">ID</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control usernick"
            id="floatingInput"
            placeholder="username"
          />
          <label for="floatingInput">username</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control userpw"
            id="floatingPassword"
            placeholder="Password"
          />
          <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control usercheckedpw"
            id="floatingPassword"
            placeholder="Confirm password"
          />
          <label for="floatingPassword">Confirm password</label>
        </div>
        <div class="btn__container">
          <button
            class="btn btn-primary"
            id="signup__btn"
            onclick="register()"
            disabled="true"
          >
            회원가입
          </button>
        </div>
      </div>
    </div>
</div>
</body>
</html>
